<nav class="bottom-nav hide-desktop" id="app-bottom-nav">
  <a class="bottom-nav-item" href="dashboard.html" data-nav-key="dashboard"><i class="fa-solid fa-house"></i><span>Beranda</span></a>
  <a class="bottom-nav-item" href="health-check.html" data-nav-key="health-check"><i class="fa-solid fa-clipboard-check"></i><span>Periksa</span></a>
  <a class="bottom-nav-item" href="health.html" data-nav-key="health"><i class="fa-solid fa-heart-pulse"></i><span>Kesehatan</span></a>
  <a class="bottom-nav-item" href="journal.html" data-nav-key="journal"><i class="fa-solid fa-book-medical"></i><span>Jurnal</span></a>
  <a class="bottom-nav-item" href="facilities.html" data-nav-key="facilities"><i class="fa-solid fa-hospital"></i><span>Fasilitas</span></a>
  <button class="bottom-nav-item" id="bottom-nav-profile"><i class="fa-solid fa-user"></i><span>Profil</span></button>
</nav>