html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  width: 100%;
}

img {
  height: auto;
}

.no-overflow-guard {
  max-width: 100vw;
}

@media (max-width: 1023px) {
  .desktop-only { display: none !important; }
}

@media (min-width: 1024px) {
  .mobile-only { display: none !important; }
}
